body {
    margin: 0;
    overflow: hidden;
    background: #222;
    color: #fff;
    font-family: sans-serif;
}
#ui {
    position: absolute;
    top: 10px;
    left: 10px;
    background: rgba(0,0,0,0.5);
    padding: 10px;
    border-radius: 4px;
}
canvas {
    display: block;
    background: #4f8;
    width: 100vw;
    height: 100vh;
}
